.vscode/
.tmp_versions/
.cache/
src_rpm/
linux-3.10.0-1160.25.1.el7/
linux-3.10.0-1062.1.1.el7/
kernel-developer/
rhel8.4/
debugging-labs/


# Prerequisites
#*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

envoy

*.tgz
*.rpm